body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(141, 178, 235);
  text-align: center;
  color: rgb(74, 74, 74)
}

/* LOGIN */

.login {
  margin: auto;
  width: 80%;
}

.header {
  width: 600px;
  height: auto;
  margin-top: 20px;
}

.login-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}

.logo {
  display: block;
  border-radius: 33px;
  margin-left: 150px;
  position: relative;
  top: 0px;
  left: 0px;
  height: 450px;
  width: auto
}

.login-buttons {
  margin-right: 120px
}

.login-button {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 170px;
  height: 32px;
  font-size: medium;
  border-radius: 7px;
  border-style: solid;
  border-color:rgb(74, 74, 74);
  border-width: 3px;
  cursor: pointer
}

.user-login-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

.user-login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-login-form input {
  width: 250px;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 10px;
  font-size: medium
}

.user-login-form button {
  width: 260px;
  height: 32px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: medium;
}

.user-login-form button:hover {
  background-color: rgb(95, 155, 6);
}

.user-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px
}

.user-signup-input {
  width: 250px;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 10px;
  font-size: medium
}

.user-signup-form button {
  width: 260px;
  height: 32px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 2, 128);
  color: white;
  cursor: pointer;
  font-size: medium;
}

.user-signup-form button:hover {
  background-color: rgb(41, 71, 203);
}

.profile-label {
  padding-bottom: 5px
}

.profile-input {
  padding-bottom: 10px;
  padding-left: 50px;
  cursor: pointer;
}

.checkbox {
  width: 15px;
  height: 15px;
}


/* REQUEST */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 7px
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 5px;
  cursor: pointer
}

/* NAVBAR */

.navbar{
  position: relative;
  top: -10px;
  left: -10px;
  right: -10px;
  width: 101.3%;
  height: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: rgb(74, 74, 74);
}

.profile-img {
  height: 100px;
  width: auto;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 28px;
  border-style: solid;
  border-color: white;
  border-width: 3px
}
 
.navbar-btn {
  display: inline-block;
  position: relative;
  top: 30px;
  left: 90px;
  margin-right: 50px;
  width: 120px;
  height: 50px;
  background: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 7px;
  border: none;
  color:rgb(74, 74, 74)
}

.navbar-btn:hover {
  background:rgb(141, 178, 235);
}

.navbar-btn-logout{
  display: inline-block;
  position: relative;
  top: 30px;
  left: 250px;
  width: 100px;
  height: 50px;
  background:rgb(141, 178, 235);
  color:rgb(74, 74, 74);
  cursor: pointer;
  font-size: 20px;
  border-radius: 7px;
  border: none
}

.navbar-btn-logout:hover {
  background: yellow;
  color: rgb(74, 74, 74)
}

/* DRIVERS */

.all-drivers {
  margin-top: 20px;
  margin-bottom: 20px
}

.driver-card {
  display: inline-grid;
  border: 2px solid black;
  width: 250px;
  height: auto;
  margin-right: 20px
}

.driver-card h3 {
  margin: 0;
  padding: 0;
  line-height: 60px;
}

.driver-card img {
  height: 250px;
  width: auto
}

.driver-details {
  text-align: start;
  margin-left: 30px;
  margin-bottom: 10px
}

.driver-details p {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.request-driver-btn {
  height: 30px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 14px
}

.request-driver-btn:hover {
  background-color: yellow
}

.request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.request-input {
  width: 300px;
  margin-bottom: 10px;
}

.request-select {
  width: 300px;
  margin-bottom: 10px
}

.request-message {
  width: 300px;
  height: 50px;
  margin-bottom: 10px
}

.request-button {
  width: 150px;
  height: 25px;
  background-color:rgb(141, 178, 235);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 4px;
  cursor: pointer
}

.request-button:hover {
  background-color: yellow
}